.Tech-skill {
    width: 60vw;
}

.Tech-skill .Tech-skill-header {
    font-family: "Lobster", cursive;
    font-size: 4.8rem;
    color: #ff9d00;
    text-decoration: underline;
    margin-bottom: 4rem;
}
.tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6rem;
    column-gap: 4rem;
}

.img-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.6rem;
    height: 20rem;
}

.img-group img{
    width: 150px;
}

.img-group span{
    font-family: "Kanit", sans-serif;
    font-size: 2.4rem;
}